[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "PORT=${PORT:-3000} serve -s dist -l $PORT --hostname 0.0.0.0"

